.btn_whatsapp_float_container{
  display: flex;
  justify-content: center;
  align-items: center;

  position:fixed;
  width:60px;
	height:60px;
	bottom:40px;
	right:40px;
  background-color:#25d366;
	color:#FFF;
	border-radius:50px;
  text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #b1b0b0;
  z-index:10;
}

.btn_whatsapp_float_icon {
  width: 80%;
  height: 80%;
  color: var(--white);
}
