:root {
  --main-font: "Poppins";
  --primary-color: #43cad9;
  --secondary-color: #f291ec;
  --white-light: #f2f2f2;
  --white: #FFFFFF;
  --black: #0d0d0d;
  --grey: #f2f2f2;
  --pink: #f291ec;
  --green: #0DD9C4;
  --blue: #43cad9;
  --mobile-sm: 1.4rem;
  --mobile-md: 1.8rem;
  --mobile-lg: 2rem;

  --tablet-sm: 1.6rem;
  --tablet-md: 2rem;
  --tablet-lg: 2.4rem;

  --desktop-sm: 1.8rem;
  --desktop-md: 2.2rem;
  --desktop-lg: 2.4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--main-font);
}

body {
  max-width: 100vw;
}

/* Tablet and Smaller Desktop */
@media (min-width: 500px) and (max-width: 900px) {
}

/* Desktop */
@media (min-width: 900px) {}